.subscribe__button {
    width: 200px;
    height: 50px;
    margin: 0px auto 0px auto;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--color-white);
    background: var(--color-blue);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding-left: 28px;
    padding-right: 28px;
    transition-property: background-color;
    transition-duration: var(--time);
    transition-timing-function: var(--timing-function);
    &:hover {
        background-color: var(--color-button);
    }
    @media screen and (min-width:1200px) {
        margin-left: 12px;
        }  
   }
   