.backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-backdrop) ;
    transition-property: opacity, visibility;
    transition-duration: var(--time);
    transition-timing-function: var(--timing-function);
    }
    .modal {
        @media screen and (min-width:480px) {
            position: absolute;
            transform: translate(-50%, -50%) rotate(360deg);
            transition: transform var(--time) var(--timing-function);
            top: 50%;
            left: 50%;
            width: 450px;
            min-height: 609px;
            border-radius: 4px;
            background-color: var(--color-white);
            padding: 40px;
            .backdrop.is-hidden & {
                transform: translate(-50%, -50%) rotate(0deg);
               }
            }
        @media screen and (min-width:1200px) {
    width: 528px;
    min-height: 581px;
    }
    }
    
    .modal__button-close {
    position: absolute;
    right: 8px;
    top: 8px;
    width: 30px;
    height: 30px;
    padding: 6px;
    background-color: var(--color-white);
    border: 1px solid var(--color-backmodal);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    }
    .mod__icon {
    fill: var(--color-darkgrey);
    transition-property: fill;
    transition-duration: var(--time);
    transition-timing-function: var(--timing-function);
    &:focus,
    &:hover  {
     fill: var(--color-blue);
    }
    }
    
    .is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    }
    .modal__title {
    @media screen and (min-width:480px) {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.03em;
    }


    // margin-bottom: 12px;
    // font-weight: 700;
    // font-size: 20px;
    // line-height: 23px;
    // text-align: center;
    // letter-spacing: 0.03em;
    }
    .modal__block {
    margin-bottom: 10px;
    }
    .modal__label {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: var(--color-grey);      
    }
    .modal__input {
    @media screen and (min-width:480px) {
    width: 370px;
    height: 58px;
    padding-left: 42px;
    padding-right: 12px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px; 
    outline: transparent; 
    transition-property: border-color;
    transition-duration: var(--time);
    transition-timing-function: var(--timing-function);
    &:hover,
    &:focus {
    border-color: var(--color-blue); 
    }
    }
    // width: 448px;
    // height: 40px;
    // padding-left: 42px;
    // padding-right: 12px;
    // border: 1px solid rgba(33, 33, 33, 0.2);
    // border-radius: 4px; 
    // outline: transparent; 
    // transition-property: border-color;
    // transition-duration: var(--time);
    // transition-timing-function: var(--timing-function);
    // &:hover,
    // &:focus {
    // border-color: var(--color-blue); 
    }
    
    .modal__wrap {
    position: relative;
    margin-top: 4px; 
    }
    .modal__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
    transition-property: fill;
    transition-duration: var(--time);
    transition-timing-function: var(--timing-function);
    .modal__input:focus + &,
    .modal__input:hover + & {
    fill: var(--color-blue);
    }
    }
    
    .modal__comment {
    @media screen and (min-width:480px) {
        margin-top: 4px; 
        padding: 12px 16px;
        width: 100%;
        height: 120px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px; 
        resize: none;
        outline: transparent;
        transition-property: border-color;
        transition-duration: var(--time);
        transition-timing-function: var(--timing-function); 
        &:hover,
        &:focus {
            border-color: var(--color-blue); 
        }
        }
    }


    // margin-top: 4px; 
    // padding: 12px 16px;
    // width: 100%;
    // height: 120px;
    // border: 1px solid rgba(33, 33, 33, 0.2);
    // border-radius: 4px; 
    // resize: none;
    // outline: transparent;
    // transition-property: border-color;
    // transition-duration: var(--time);
    // transition-timing-function: var(--timing-function); 
    // &:hover,
    // &:focus {
    //     border-color: var(--color-blue); 
    // }
    &::placeholder {
    @media screen and (min-width:480px) {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    }

        // font-weight: 400;
        // font-size: 12px;
        // line-height: 14px;
        // letter-spacing: 0.01em;
        // color: rgba(117, 117, 117, 0.5);
        // }
    }
    
    .modal__radio {
    margin-top: 20px;
    }
    .modal__check-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.03em;   
   
    color: var(--color-grey);
    display: flex;
    align-items: center;
    justify-content: center;
    }
    .modal__check-label span {
    // margin-right: 7px;
    width: 16px;
    height: 15px;
    border: 2px solid var(--color-darkgrey);
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: transparent;
    transition-property: background-color;
    transition-duration: var(--time);
    transition-timing-function: var(--timing-function);
    .modal__check-input:checked + & {
        border: 2px solid var(--color-blue);
        fill: var(--color-white);
        background-color: #2196F3;
        }
    }
        
    .modal__check-link {
    color: var(--color-blue);
    //margin-left: 8px;
    }
    
