:root {
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-blue: #2196F3;
    --color-darkgrey: #212121;
    --color-grey: #757575;
    --color-heroblack: #2F303A;
    --color-contacts: rgba(255, 255, 255, 0.6);
    --color-buttons:  #F5F4FA;
    --color-button: #188CE8;
    --color-port: #EEEEEE;
    --color-header: #ECECEC;
    --color-soc: #AFB1B8;
    --color-soc-footer: rgba(255, 255, 255, 0.1);
    --color-activ-overlay: rgba(47, 48, 58, 0.8);
    --color-port-overlay: rgba(33, 150, 243, 0.9);
    --color-backdrop: rgba(0, 0, 0, 0.2);
    --color-backmodal: rgba(0, 0, 0, 0.1);
    --time: 250ms;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
   }